    body {
        background-image: url('file:///Users/gunrealomega/Desktop/mmcs/istockphoto-2158203844-612x612.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .header{
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
        .jpg{
        max-width: 500%;
        max-height:100%;
        float: left;

        }

    
    .cont {
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
       }
       
       img {
         max-width: 230%;
         max-height:70%;
         float: left;
       }
       
       .text {
         font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
         float: left;
         color:white;
       }
       .txt{

       
         font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
        float: left;
        color:white;

       }

       .container1 {
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
       }
       .container2 {
        display: grid;
        align-items: center; 
        grid-template-columns: 2.1fr 1.5fr;
        column-gap: 0px;
       }
       .container3 {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0px;
       }
       .video{
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
       }
       .t{
        font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
        float: left;
        color:white;

       }
       a {
        text-decoration: none;
        color: #fefefe;
        }
    .bob{
        text-decoration: none;
        color: #fefefe;
        text-align: center;
    }
        * {box-sizing: border-box}
    .pop {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}


    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    




    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }


    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

  
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    b{
        color: rgb(4, 255, 4);
    }
