    body {
        background-image: url('https://scontent.fcgy1-1.fna.fbcdn.net/v/t39.30808-6/476117553_589743997368831_6374068424800875534_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHS94w1-oHwnhH65d58bnf7YT3iQvINZ_FhPeJC8g1n8ZRhwrCVX27YWnOqFUk09c4HFu2l3HGVoAEw_NSISAvT&_nc_ohc=_gOE1y-ErLUQ7kNvgEaTXUd&_nc_oc=AdhCGgTVztl49FQ2MBQkw0VQ04WFnXVvs5_dU4iKzYiUBeWSjPzBJFkrCMrzY3NzffA&_nc_zt=23&_nc_ht=scontent.fcgy1-1.fna&_nc_gid=AE5upeUbY6hxPc7SoAp9bbj&oh=00_AYHFIOIZ4sZTvsHStQO9NAVXHgBvdWMsXlg9E1Vd9LH_KA&oe=67D584CE');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 500% 200%;
    
    }
    .header{
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
        .jpg{
        max-width: 500%;
        max-height:100%;
        float: left;

        }

    
    .cont {
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
       }
       
       img {
         max-width: 230%;
         max-height:70%;
         float: left;
       }
       
       .text {
         font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
         float: left;
         color:white;
  
       }
       .txt{

       
         font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
        float: left;
        color:white;


       }

       .container1 {
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
       
       }
       .container2 {
        display: grid;
        align-items: center; 
        grid-template-columns: 2.1fr 1.5fr;
        column-gap: 0px;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
        
       }
       .container3 {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0px;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
        
       }
       .video{
        display: grid;
        align-items: center; 
        grid-template-columns: 1.5fr 2fr;
        column-gap: 0px;
           
       }
       .t{
        font-size: 30px;
         padding-left: 20px;
         padding-top: 5%;
        float: left;
        color:white;
       }
       a {
        text-decoration: none;
        color: #fefefe;
        }
    .bob{
        text-decoration: none;
        color: #fefefe;
        text-align: center;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
    }
        * {box-sizing: border-box}
    .pop {font-family: Tahoma, "Trebuchet MS", sans-serif; margin:0;}
    .mySlides {display: none}
    img {vertical-align: middle;}


    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    




    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }


    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

  
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    b{
        color: rgb(4, 255, 4);
    }
